/* This file is for your main application css. */
@import "./buttons.css";

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

html, body {
  height: 90%;
  font-family: sans-serif;
}

.container {
  height: 100%;
  display: flex;           /* establish flex container */
  flex-direction: column;  /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center;     /* center items horizontally, in this case */
}

.box {
  margin: 5px;
  text-align: center;
}

#snake {
  border-radius: 5px;
}

@media (any-hover: none) {
  .touch-buttons {
    position: relative;
    top: 30px;
    width: 150px;
    height: 150px;
    transform: rotate(45deg);
  }
}

@media (any-hover: hover) {
  .touch-buttons {
    display: none;
  }
}

.button {
  position: absolute;
  width: 50%;
  height: 50%;
  background-color: orange;
  transition: background-color 0.2s ease-in-out;
}

.button:hover {
  background-color: pink;
}

.up-button {
  top: 0;
  left: 0;
  background-color: red;
  border-radius: 100% 0 0 0;
}

.right-button {
  top: 0;
  right: 0;
  border-radius: 0 100% 0 0;
}

.left-button {
  bottom: 0;
  left: 0;
  border-radius: 0 0 0 100%;
}

.down-button {
  bottom: 0;
  right: 0;
  background-color: red;
  border-radius: 0 0 100% 0;
}

.cutout {
  width: 50%;
  height: 50%;
  background-color: white;
  position: absolute;
  top: 25%;
  left: 25%;
  border-radius: 50%;
  pointer-events: none;
}
