/* This file is for your main application css. */

html, body {
  height: 90%;
  font-family: sans-serif;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
}

.centered {
  height: 100%;
  display: flex;           /* establish flex container */
  flex-direction: column;  /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center;     /* center items horizontally, in this case */
}

.box {
  margin: 5px;
  text-align: center;
}

img {
  border-radius: 5px;
}
